[submodule "RQ3/Patch-Sim/DefectRepairing"]
	path = RQ3/Patch-Sim/DefectRepairing
	url = https://github.com/Ultimanecat/DefectRepairing
[submodule "RQ2/embedding/DL4PatchCorrectness"]
	path = RQ2/embedding/DL4PatchCorrectness
	url = https://github.com/TruX-DTF/DL4PatchCorrectness.git
